extends layout2

block content
  section.row.graph.justify-content-center
    section(class='square col-lg-4') 
      h3 Problem reporting
      p Do you think something may be incorrect in our data? Please fill in the <a href='https://docs.google.com/forms/d/e/1FAIpQLScYQE_KZ869DN03VycFeKOG-ByY24yrDCGMRmrnWd0QsLwg3A/viewform?usp=sf_link'>form</a> and a member of our team will review it as soon as possible.
    section(class='square col-lg-2') 
      h3 Contact us
      p For any other enquiry contact <a href="https://twitter.com/enridaga">@enridaga</a>, <a href="https://twitter.com/emmedaquino">@emmedaquino</a>
    section(class='square col-lg-4') 
      h3 Suggest a resource
      p Do you know any resource that we might have missed? Please give us some <a href="https://docs.google.com/forms/d/e/1FAIpQLSfrKTn2Fv_sdFZCxV07LvoWSFe_TsJ279BBjqA3HWt2NjIMcg/viewform?usp=sf_link">minimal information</a> about it and we will add it to the registry.
    section(class='sentence left col-lg-12') 
      h3 Reference
      p Daquino, Marilena, Enrico Daga, Mathieu d'Aquin, Aldo Gangemi, Simon Holland, Robin Laney, Albert Meroño-Peñuela, and Paul Mulholland. <em>Characterizing the Landscape of Musical Data on the Web: State of the Art and Challenges</em>. Paper presented at "Workshop on Humanities in the Semantic Web - WHiSe II", 16th International Semantic Web Conference (ISWC 2017) - Vienna, Austria, October 21-25.