extends layout

block content
    section(id='intro', class='col-lg-3 float-right')
      p <strong>musoW</strong> is a catalogue of musical resources available on the web. Data gathered helps to understand how the landscape of musical data on the web is evolving, and how ready these resources are to be part of the web of data.

    section#browse.col-lg-3 
      h3 
        a(href='/browse') browse
      p See how musical resources are growing on the web. You can start from a <a href='/browse'>summary</a> of contents, including general information and statistics, or browse resources <a href='/resources'>by name</a>, <a href='/resources-type'>by type</a>, and <a href='/resources-subject'>by subject</a>.
  
    section(id='explore', class='col-lg-3 float-right')
      h3 
        a(href='') explore
      p <em>coming soon</em> - Explore our data and discover new information thanks to the integration to other available information on the web. 

    section#contribute.col-lg-3 
      h3 
        a(href='/contribute') contribute
      p Contribute to the project and <a href="https://docs.google.com/forms/d/e/1FAIpQLSfrKTn2Fv_sdFZCxV07LvoWSFe_TsJ279BBjqA3HWt2NjIMcg/viewform?usp=sf_link">suggest a resource</a> or <a href='https://docs.google.com/forms/d/e/1FAIpQLScYQE_KZ869DN03VycFeKOG-ByY24yrDCGMRmrnWd0QsLwg3A/viewform?usp=sf_link'>review our data</a>. Your data will be reviewed by members of our team and will be part of our growing registry!    
