extends layout

block content
    section(id='intro', class='col-lg-3 float-right')
      p <strong>musoW</strong> is a catalogue of musical resources available on the web. Data gathered helps to understand how the landscape of musical data on the web is evolving, and how ready these resources are to be part of the web of data.

    section#browse.col-lg-3 
      h3 
        a(href='/browse') browse
      p See how musical resources are growing on the web and what they deal with. 
  
    section(id='explore', class='col-lg-3 float-right')
      h3 
        a(href='/explore') explore
      p Explore our data and discover new information thanks to the integration to other available information on the web. 

    section#contribute.col-lg-3 
      h3 
        a(href='/contribute') contribute
      p Contribute to the project and submit a new record or review our data. Your data will be reviewed by members of our team and will be part of our growing registry!    
