doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/js/musow.js')
  body.container-fluid
    header.row
      h1.col-md-12= title
      h2.col-md-12 musical data on the web
      section.image
        img(src='images/pink-vinyl.jpg')
    block content
    footer.col-md-12
      section
        h3 contact
        p find data and documentation on <a href='https://github.com/enridaga/musow'>github</a> // query data on <a href='http://data.open.ac.uk/sparql'>data.open.ac.uk SPARQL endpoint</a>