doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/js/musow.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    script(src='https://use.fontawesome.com/f8eecea9d3.js')
  body.container-fluid
    nav.menu.row
        ul.col-lg-12
          li
            a(href='./') musoW
          li(class='dropdown')
            a(class='dropdown-toggle', id='browseMenu', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') BROWSE
            div(class='dropdown-menu', aria-labelledby='browseMenu')
              a(href='/browse') summary
              a(href='/resources') resources
          li
            a(href='/explore') EXPLORE
          li
            a(href='/contribute') CONTRIBUTE
    header.row.others
      h1.col-lg-12= title
      h2.col-lg-12 musical data on the web
      
    section(class='main-content')
      block content
    footer.col-md-12.layout2
      section
        h3 contact
        p find data and documentation on <a href='https://github.com/enridaga/musow'>github</a> // query data on <a href='http://data.open.ac.uk/sparql'>data.open.ac.uk SPARQL endpoint</a>