@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

body { 
	font-family: 'Karla', sans-serif !important; 
	line-height: 1.4em !important; 
	color: #0d107a !important;
	font-size: 1.4em;
	padding: 0px !important;
	background-color: whitesmoke !important;
}
header {z-index: 10000;
	padding: 5em !important;}

.image {
	width: 40em; 
	height: 40em; 
	z-index: 10; 
	position: absolute;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.image img {-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
			width: 100%; height: 100%; margin: 0 auto;}

.others {
	background-image: url('../images/pink-vinyl.jpg');
	background-attachment: fixed;
    background-position: 50% 38%;
    background-size: cover;
    background-repeat: no-repeat;
	margin-right: 0px !important;
	padding-right: 0px !important; 
	color: #fff;
}

.menu {
	background-color: rgb(204,142,164);
	letter-spacing: 0.05em; 
	font-weight: 700; 
	margin: 0px !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
}
.menu ul {
	padding: 1em 2em;
	margin: 0px;
	float: right; 
}
.menu li {
	font-weight: 700 !important; 
	list-style-type: none; 
	margin-right: 2em;
	display: inline;
}
.menu li a {text-decoration: none; color: #fff !important;}
.menu li:first-of-type {float: left;}
.dropdown-menu {border: none !important; background-color: rgb(204,142,164) !important;}
.dropdown-menu a {padding: 0.5em; display: block;}

h1 {font-size: 4em !important; z-index: 10000; padding-left: 2em !important;}
h2 {font-size: 1.5em !important; padding-left: 7em !important; margin-top: -15px; z-index: 10000; }
h2,h3 {text-transform: uppercase; letter-spacing: 0.05em;}
h3 {font-size: 1em !important; font-weight: 700 !important;}
p, .sentence {font-size: 1.1em; line-height: 1.4em;}
*[data-toggle] {cursor: pointer;}

/* home */
#intro, #browse, #explore, #contribute, footer {z-index: 10000; padding: 3em 1em;}
#intro a, #browse a, #explore a, #contribute a {color: #fff; display: inline-block; background-color: #0d107a; padding: 0.3em;}
#intro, #explore {margin-right: 10em; padding-left: 1em;}
#intro {margin-top: -9em;}
#explore {margin-top: -4em;}
#browse, #contribute {padding: 3em 0px; margin-left: 13em;}

/* browse > summary */
.graph {margin: 0px; padding: 8em 2em;}
.back-img {
	background-image: url('../images/pink-vinyl.jpg');
	background-attachment: fixed;
    background-position: 50% 38%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.sentence {margin: 1em auto; padding: 2em; text-align: center;}
.right {text-align: right !important;}
.left {text-align: left !important;}
.square {
	position: relative;
	padding: 2em;
	margin: 0.5em;  
	width: 100%; 
	height: 100%; 
	background-color: rgb(222,222,224); 
	text-align: center; 
	}
.square h2 {font-size: 4em !important; text-align: center; padding-left: 0 !important;}
.pink { background-color: rgb(204,142,164); color: #fff; }
.grey { background-color: rgb(152,152,154);}
.white { background-color: #fff;}
.tags {margin: 0 auto; padding: 0px 3em;}
.tag {padding: 0.6em; margin: 0.3em; border-radius: 5px}
.bookmark {display: inline-block; padding: 1em 2em;}
.bookmark span {display: block; text-align: center;}
.bookmark span:nth-of-type(1) {font-size: 3em;  padding-bottom: 0.3em;}
.bookmark i {font-size: 9em;}

/* browse > resources */
.info_title:hover {color: rgb(204,142,164) !important;}
.alphabet {margin: 2em 0px;}
.alphabet span {background-color: rgb(204,142,164); color: #fff; font-size: 1.3em; padding: 0.5em; margin: 0.2em;}
.alphabet span:hover {background-color: rgb(171,60,100);}
#toc_resources {margin: 2em;}
#toc_resources2 .alphabet span {padding: 0.5em 1em !important; font-weight: 400;}
.list {margin: 1em;}
.group {color: #0d107a !important; text-decoration: none; padding-bottom: 0.5em;}
.group:before {content: '>> '; color: rgb(204,142,164);}
a.group:hover, a.group:active {color: rgb(204,142,164) !important; text-decoration: none;}
.resource_desc section {padding: 1em !important;}
.resource_desc h4 {font-size: 1.5em; font-weight: 700; letter-spacing: 0.05em; margin: 0.5em 0; display:block; }
.resource_desc i {font-size: 2em !important;}
.resource_desc * {display: inline-block;}
.resource_desc section {border-right: solid 2px #0d107a; height: 100%; }
.no-border {border: none !important; }
.pink-border { border: solid 2px rgb(204,142,164); background-color: whitesmoke;}
.punctuation {margin-right: 0.2em;}
footer.layout2 {
	background-color: rgb(204,142,164);
	color: #fff;
}

footer section {padding: 3em; margin-top: 1em;}
@media only screen and (max-width: 64em) { 
	h1 {font-size: 5rem !important; padding-left: 1em !important;}
	h2 {font-size: 3rem !important; padding-left: 4em !important;}
	h3, p {font-size: 1.3rem !important;}
	#intro, #explore {padding-left: 8em; margin-right: 0px; margin-top: 0px !important;}
	#browse, #contribute {padding: 0em 6em; margin-left: 0px;}
}
@media (min-width: 992px) and (max-width: 64em) {
.col-lg-3 { max-width: 80% !important;}
}

